.container-LoginPage {
  height: 100vh;
  margin: 0 auto;
  min-height: 100%;
  background-color: #0c1538;
}
.container-LoginPage .contai-left-img {
  display: flex;
  float: left;
  width: 60%;
  height: 100%;
  background: url(../images/Backgroud1.jpg) no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.container-LoginPage .contai-left-img .img-logo {
  width: auto;
  height: 200px;
  object-fit: fill;
  z-index: 1;
  max-height: 400px;
  min-height: 400px;
}
.container-LoginPage .contai-right-form {
  position: relative;
  height: 100%;
  float: right;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-LoginPage .contai-right-form .contai-form {
  height: 500px;
  width: 100%;
  margin: 30px;
}
.container-LoginPage .contai-right-form .contai-form .content-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-LoginPage .contai-right-form .contai-form .content-form h1 {
  text-align: start;
  margin-bottom: 0px;
  color: white;
}
.container-LoginPage .contai-right-form .contai-form .form-imput {
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-LoginPage .contai-right-form .contai-form .form-imput .forms {
  width: 55%;
  height: auto;
  padding: 30px;
  background-color: #7a7a7a;
  border-radius: 10px;
}
.container-LoginPage .contai-right-form .contai-form .form-imput .forms form .form-acout .form-input-accout {
  padding: 0 10px;
  margin: 5px 0;
  width: 92%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #7a7a7a;
  border: 1px solid #ffff;
  color: #fff;
}
.container-LoginPage .contai-right-form .contai-form .form-imput .forms form .form-acout .form-label-accout {
  font-size: 12px;
}
.container-LoginPage .contai-right-form .contai-form .form-imput .forms form .form-input-password {
  padding: 0 10px;
  margin: 5px 0;
  width: 92%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #7a7a7a;
  border: 1px solid #ffff;
  color: #fff;
}
.container-LoginPage .contai-right-form .contai-form .form-imput .forms form .form-check-box {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.container-LoginPage .contai-right-form .contai-form .form-imput .forms form .form-check-box span {
  color: #fff;
  font-size: 12px;
}
.container-LoginPage .contai-right-form .contai-form .form-imput .forms form .btn-login-default {
  margin-top: 30%;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #7a7a7a;
  border: 1px solid #ffff;
  cursor: pointer;
  transition: 0.25s linear;
}
.container-LoginPage .contai-right-form .contai-form .form-imput .forms form .btn-login-default p {
  width: 100%;
  height: auto;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0px;
  text-align: center;
  transition: 0.25s linear;
}
.container-LoginPage .contai-right-form .contai-form .form-imput .forms form .btn-login-default:hover {
  background-color: #fff;
  width: 98%;
}
.container-LoginPage .contai-right-form .contai-form .form-imput .forms form .btn-login-default:hover p {
  color: #0c1538;
}
.container-LoginPage .contai-right-form .icon-back {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 10px;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: 1s ease;
}
.container-LoginPage .contai-right-form .icon-back:hover {
  border: 1px solid #fff;
}
.container-LoginPage .contai-right-form footer {
  position: absolute;
  background-color: #0c1538;
  width: 100%;
  bottom: 0;
}
.container-LoginPage .contai-right-form footer ul {
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
.container-LoginPage .contai-right-form footer ul li {
  margin: 0px 14px;
}
.container-LoginPage .contai-right-form footer ul li a {
  font-size: 11px;
  color: #ffff;
  text-decoration: none;
}
.container-LoginPage .form-ctn {
  position: relative;
  margin: 10px 0px;
}
.container-LoginPage .form-ctn .lbl {
  font-size: 12px;
  top: 35%;
  left: 6%;
  position: absolute;
  transition: 0.25s ease-in;
  color: #fff;
}
.container-LoginPage .form-ctn .ipt:not(:placeholder-shown) + .lbl,
.container-LoginPage .form-ctn .ipt:focus + .lbl {
  background-color: #7a7a7a;
  padding: 0 5px;
  top: -5%;
  left: 5%;
}

/*# sourceMappingURL=LoginPage.css.map */
